[contenteditable=true].svelte-1is19rb:focus{outline:none;background:#ffffff0d}.scrollbar-hide.svelte-z25mmx::-webkit-scrollbar{display:none}.scrollbar-hide.svelte-z25mmx{-ms-overflow-style:none;scrollbar-width:none}
